[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
kaggle = "*"
sklearn = "*"
pandas = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
ipykernel = "*"
flask = "*"

[dev-packages]
pylint = "*"
yapf = "*"

[requires]
python_version = "3.7"
